@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/hind-guntur');

#root {
  width:100lh;
  min-height: 100vh;

  --main-colour: #4000b8;
  --main-bg-colour: #0d1321;
  --light-main-bg-colour: #ededed;
  --primary-colour: #00b4d8;
  --primary-darker: #0077b6;
  --accent-colour: #f2ad00;
  --secondary-colour: #00b4d8;
  --grey800:#424242;
  --grey300:#e0e0e0;
  --cream:#f0ebd8;
  font-size:17px;
  line-height: 1.6rem;
  background-color: var(--main-bg-colour);
}

.title {
font-size: 1.5rem;
font-weight: 300;
padding-top:8px;
margin: auto;
color:var(--primary-colour)
}

p {
font-size:1.1rem;
line-height: 1.5rem;
font-weight:300;
color:var(--cream);
/* margin: auto; */
padding: 0 15px 0 15px;
white-space: pre-line;
}

.element-none {
  display:none;
}

h1 {
  font-size: 1.8rem;
  font-family: 'SF Pro Display', sans-serif;
  font-weight:600;
  line-height: 2.2rem;
  color:var(--cream);
  padding: 0 0 0 15px;
  margin: auto;
}

h2 {
  font-size: 1.4rem;
  font-family: 'SF Pro Display', sans-serif;
  font-weight:600;
  line-height: 1rem;
  color:var(--cream);
  padding: 0 0 0 15px;
  margin: auto;
}

body{
  background-color: var(--main-bg-colour);
  /* font-family: 'SF Pro Display', sans-serif; */
  font-family: 'Hind Guntur', sans-serif;
  overflow-x: hidden;
}

footer
{
  font-size:0.9rem;
  margin: 0 0 30px 30px;
  /* height:6vh; */
  color:var(--cream);
  font-weight: 300;

  /* position: absolute; */
  /* bottom: 0; */
  /* height: 2.5rem; */
}

img {
  padding:15px;
  object-fit: contain;
}

@media (max-width: 600px){
  img {
    max-width: 300px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* width:65%; */
}

.container-680 {
  width: 680px;
}

@media (max-width: 600px) {
  .container-680 {
    width:100%;
  }
}

.container-image-flex {
  display: flex;
  flex-direction: row !important;
}

@media (max-width: 600px) {
  .container-image-flex {
    flex-direction: column;
  }
}

.body-wrapper {
  height:80vh;
}

a:link {
  color: var(--primary-colour);
} 
  
a:visited {
  color: var(--primary-colour);
}

a:hover {
  color: var(--accent-colour);
}

.special-link {
color: var(--secondary-colour);
}

/*Base MUI mods*/
 
.btn {
  border: solid 1px var(--secondary-colour);
  background-color:var(--main-bg-colour);
  font-size: 1rem;
  line-height: 1.3rem;
  color: var(--cream);
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 15px;
  min-width: 120px;
  cursor: pointer;
  transition: all 150ms ease;
  width:fit-content;
  margin: 0 0 0 15px;
 
  &:hover:not(:disabled) {
    background-color: turquoise;
  }
 
  &:active:not(:disabled) {
    background-color: var(--primary-colour);
  }
 
  &.btn:hover {
    background-color:var(--secondary-colour);
    border: solid 1px var(--secondary-colour);
    color: var(--main-bg-colour)
  }
 
  &.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.container-header {
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 70px;
  background-color: var(--main-colour);
  position: relative;
  margin-bottom: 30px;
}

/* .sticky-nav {
  display:flex;
} */

@media (min-width:600px){
.sticky-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
}

.menu-icon {
  display: none;
}

@media (max-width:600px){
  .mobile-none {
    display: none !important;
  }
}

.sticky-desktop {
  width:150px;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0px;
  bottom: 70px;
  padding-right: 50px;
  background-color: var(--main-colour);
}

.sticky-mobile {
  color: var(--primary-colour);
  font-size: 0.9rem;
  font-weight:500;
  width:150px;
  height: 50px;
  position: fixed;
  right: 0px;
  bottom: 20px;
  padding-right: 50px;
  background-color: var(--main-colour);
  cursor: pointer;
}

@media (max-width: 600px){
  .sticky-mobile{
    width:100px;
    bottom: 0px;
    margin-right:20px;
  }
}

/* SimpleHeader.jsx */

.nav-elements ul {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'SF Pro Display', sans-serif;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--secondary-colour);
  text-decoration: none;
}

.nav-elements ul a.active {
  color: var(--secondary-colour);
  font-weight: 400;
  position: relative;
}

.nav-elements ul a:hover {
  color: var(--accent-colour);
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-colour);
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  p {
    font-size:1.3rem;
    line-height:1.6rem;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    
    padding: 0 15px 0 15px;
    margin: 0;
  }
  
  .btn {
    /* border: solid 1px var(--secondary-colour);
    background-color:var(--main-bg-colour); */
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    padding: 10px 30px;
    min-width: 120px;
    /* cursor: pointer;
    transition: all 150ms ease;
    width:fit-content;
    margin: 0 0 0 15px; */
   
    &:hover:not(:disabled) {
      background-color: turquoise;
    }
   
    &:active:not(:disabled) {
      background-color: var(--primary-colour);
    }
   
    &.btn:hover {
      background-color:var(--secondary-colour);
      border: solid 1px var(--secondary-colour);
      color: var(--main-bg-colour)
    }
   
    &.btn.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .menu-icon {
    display: flex;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: var(--main-colour);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 28px;
  }

  .nav-elements ul a {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    /* color: var(--secondary-colour);
    text-decoration: none; */
  }
}

/* Toggle.jsx */
.active-icon {
  width: 30px;
}

.inactive-icon {
  width: 30px;
}

.toggle-wrapper{
  height:60px;
}

/* Section.jsx */

.section-card {
  border-radius: 15px;
  border:0.5px solid var(--primary-darker);
  padding: 20px 0 20px 0;
  margin: 0 0 30px 30px;
}

@media (max-width: 600px) {
  .section-card{
  width: 90%;
  min-width: 300px;
  margin: 0 auto 20px;
  }
}

/* ProfileCard.jsx */

.main-wrapper {
  display: flex;
}

@media (max-width: 600px) {
  .main-wrapper{
  flex-direction: column-reverse;
  }
}

.profile-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  width: 240px;
  margin:0 0 0 30px;
  background-color: rgb(23, 27, 52);
  border-radius: 15px;
}

.profile-image {
  width:150px;
  margin: auto;
  border-radius: 50%;
}

.profile-social-icon {
  width:50px;
  margin: auto;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .profile-card{
  width:86%;
  margin:auto;
  margin-bottom:20px;
  }
}

/* Curves */

.spacer {
  aspect-ratio: 900/300;
  width: 200%;

  /* height: 240px; */

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.layer1 {
  background-image: url('https://raw.githubusercontent.com/abewtsa/vite-abe/0b4aa6003cceaad481e31a6ab4f42b6c5103f5b4/public/haikei2.svg');
}

/* From Dropdown menu Nav App.css original css */

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  /*content: url('../../../public/Close.svg');*/
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
  max-width: 30px;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  color: var(--secondary-colour);
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: var(--secondary-colour);
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: var(--secondary-colour);
  color:var(--main-bg-colour);
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: var(--main-colour);
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* UNUSED CSS */
/* HEADER */
/* 
.Header-wrapper {
  background-color: var(--main-colour);
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px 10px 0px;
}

.Header-item{
  font-size: 0.8rem;
  font-weight:400;
  text-align: center;
  padding: 20px;
  color: white;
  width:10%;
  
  &.Header-item:hover {
    background-color: var(--primary-colour);
  }
}

@media (max-width: 600px) {
  .Header-item {
    width:30%;
  }
}

@media (max-width: 900px) {
  .Header-item {
    width:30%;
  }
} */

/* FOOTER */

/* .Footer-wrapper {
  margin-top: auto;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 0.8rem;
  color: white;
  padding: 10px 30px 10px 30px;
} */